/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

:root {
  --c-blue-primary: #05b2ff;
  --c-blue-secondary: #02a2e9;
  --c-blue-tertiary: #0c6b8c;
  --c-blue-dark: #1192d3;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--c-blue-primary);
  font-family: 'Passion One', cursive;
}

.wrapper {
  /* max-width: 600px; */
  margin: auto;
  display: flex;
  /* min-height: 100vh; */
  /* justify-content: center; */
  /* place-items: center; */
}
