header {
  text-align: center;
}

main {
  background: #eee;
}

footer {
  text-align: center;
  grid-column: 1 / -1;
}

.dice {
  display: flex;
  grid-gap: 1em;
  grid-template-columns: repeat(5, 1fr);
}

.dice app-die {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}
